---
import PuestoPeluqueria from '../../images/puesto-peluqueria.jpg'
import PuestoRopa from '../../images/puesto-ropa.jpg'
import PuestoVerduras from '../../images/puesto-verduras.jpg'
import PuestoLibreria from '../../images/puesto-libreria.jpg'
import PuestoCarnes from '../../images/puesto-carniceria.jpg'
import PuestoZapatos from '../../images/puesto-zapatos.jpg'
import PuestoAbarrote from '../../images/puesto-abarrotes.jpg'
import PuestoPescados from '../../images/puesto-pescados.jpg'

import "../styles/ServiciosPg.css";
---

<section class="seccion-servicios align-items-center">
    <div class="container">
        <div class="row">
            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src={PuestoPeluqueria.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src={PuestoRopa.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src={PuestoVerduras.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src={PuestoLibreria.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src={PuestoCarnes.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src={PuestoZapatos.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src={PuestoAbarrote.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>

            <div class="py-2 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src={PuestoPescados.src} class="card-img-top img-servicio" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-warning">Ir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
